@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./Elements/button.css";
@import "./Elements/input.css";
@import "./Elements/spinner.css";
@import "./Elements/Modal.css";
@import "./Elements/accordion.css";
@import "./Elements/carousel.css";
@import "./Elements/switchButton.css";
@import "./Elements/dropDown.css";

@import "./font.css";

@layer base {
  :root {
    --color-creme: #ffe3c8;
    --color-cremeLight: #fbf7f3;
    --color-candyPink: #ffb1ca;
    --color-vibrantRed: #ff0000;
    --color-coral: #ff3c37;
    --color-bruntOrange: #ff510d;
    --color-navy: #002c52;
    --color-primary: #ffae00;
  }

  * {
    @apply font-primary_font;
  }
}
