@layer base {
  :root {
    --font-primary: "TacOne";
    --header-font: "TacOne";

    --color-creme: #ffe3c8;
    --color-cremeLight: #fbf7f3;
    --color-candyPink: #ffb1ca;
    --color-vibrantRed: #ff0000;
    --color-coral: #ff3c37;
    --color-bruntOrange: #ff510d;
    --color-text-dark: #002c52;
    --color-primary: #ffae00;

    --input-round: 6px;
  }
}
