@layer components {
    .scrollContainer {
        @apply mx-auto flex items-start justify-start max-w-full overflow-x-auto snap-center;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}